<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="AuraFX" android:icon="@drawable/aurafx_icon"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"
        android:allowBackup="false" android:supportsRtl="true">
        <meta-data android:name="asset_statements" android:resource="@string/asset_statements" />
        <activity android:name="com.google.androidbrowserhelper.trusted.LauncherActivity"
            android:exported="true" android:label="AuraFX">
            <meta-data android:name="android.support.customtabs.trusted.DEFAULT_URL"
                android:value="https://aurafx-design.ru/?source=android" />
            <meta-data android:name="android.support.customtabs.trusted.STATUS_BAR_COLOR"
                android:resource="@color/brand_background" />
            <meta-data android:name="android.support.customtabs.trusted.NAVIGATION_BAR_COLOR"
                android:resource="@color/brand_background" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="aurafx-design.ru" />
            </intent-filter>
        </activity>
    </application>
</manifest>
